<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hustar.recipe.mapper.UserMapper">

	<resultMap type="com.hustar.recipe.vo.UserVO"
		id="userMap">
		<id property="uid" column="uid"></id>
		<result property="role" column="role" />
		<result property="name" column="name" />
		<result property="id" column="id" />
		<result property="password" column="password" />
	</resultMap>


	<select id="Login" resultMap="userMap">
		SELECT * FROM user
		WHERE id = #{id}
	</select>
	
	<select id="getUser" resultMap="userMap">
		SELECT * FROM user
		WHERE id = #{id}
	</select>
	
	<insert id="registUser">
		INSERT INTO user(id, name, password)
		VALUES (#{id}, #{name}, #{password})
	</insert>
	
</mapper>